# Ignore Maven build files
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore H2 database files (if file-based)
*.db
*.trace.db

.fake